.language {
    background-color: #fff;
    border-radius: 10px;
    width: 300px;
    margin: 170px auto 0;
    padding: 20px;
}
.language h1 {
    font-size: 25px;
    margin: 20px 0;
}
.language .close {
    cursor: pointer;
    padding: 5px;
}
.language .close img{
    width: 20px;
}
.language .lang {
    list-style: none;
    margin-top: 30px;
}
.language .lang li {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.language .lang li h2{
    font-size: 20px;
    font-weight: normal;
}
.language .lang li .left {
    display: flex;
    align-items: center;
    gap: 20px;
}
.language .lang li .right {
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}